.FeaturedSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.text-box {
   text-align: left;}

   .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }