nav {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 24px;
}

.nav-item {
  display: flex;
  align-items: stretch;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;

  gap: 40px;
}

.nav-action {
  display: flex;
  flex-direction: column;

}
